html {
    box-sizing: border-box;
    font-size: 10px;
}
a {
    text-decoration: none;
}
input {
    border-style: none;
    background: transparent;
    outline: none;
}
button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.input_style {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background: rgba(57, 63, 84, 0.8);
}

.input_style:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: linear-gradient(to right, #b294ff, #57e6e6, #feffb8, #57e6e6, #b294ff, #57e6e6) 0 0;
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.input_style input, #textInArea {
    flex-grow: 1;
    color: #bfd2ff;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
}


.input_style input::-webkit-input-placeholder {
    color: #7881a1;
}

.input_style button {
    color: #7881a1;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
}

.input_style button:hover {
    color: #bfd2ff;
}
